POSTGRES_DB=battleship
POSTGRES_USER=user-db
POSTGRES_PASSWORD=password123
DATABASE_URL=postgresql+psycopg2://user-db:password123@db:5432/battleship
TEST_DATABASE_URL=postgresql+psycopg2://user-db:password123@db:5432/battleship